<%- include("partials/header"); -%>
<div style="max-width:900px;" class="container">
<div style="background-color: white;" class="">

  <div class="container">
    <div id="content" class="content p-0">
      <div class="profile-header">
        <div class="profile-header-cover"></div>

        <div class="profile-header-content">
          <div class="profile-header-img">
            <img src="/images/mustardSeed1.jpg" alt="" />
          </div>

          <div class="profile-header-info">
            <h4 class="m-t-sm">IZUCHUKWU CHRISTIAN AHAMEFUNA O.</h4>
            <p class="m-b-sm">Web Developer + UI/UX Designer + Serial Technopreneur</p>
            <a href="#" class="btn btn-xs btn-primary mb-3">ABOUT ME</a>
          </div>
        </div>

        <ul class="profile-header-tab nav nav-tabs">
          <li class="nav-item"><a href="#profile-about" class="nav-link active show" data-toggle="tab">RESUME</a></li>
        </ul>
      </div>

      <div class="profile-container">
        <div class="row row-space-20">
          <div class="col-md-8">
            <div class="tab-content p-0">
              <div class="tab-pane active show" id="profile-about">
                <table class="table table-profile">
                  <thead>
                    <tr>
                      <th colspan="2">CONTACT INFORMATION</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="field">Mobile Phones</td>
                      <td class="value">
                        +234 70 1935 5783 || +234 90 3322 0890
                      </td>
                    </tr>
                    <tr>
                      <td class="field">Email</td>
                      <td class="value">
                        izuchrisa@gmail.com

                      </td>
                    </tr>
                    <tr>
                      <td class="field">Facebook</td>
                      <td class="value">
                        https://web.facebook.com/ahamefuna.izuchristian

                      </td>
                    </tr>
                    <tr>
                      <td class="field">linkedin</td>
                      <td class="value">
                        https://www.linkedin.com/in/ahamefunachris/

                      </td>
                    </tr>
                    <tr>
                      <td class="field">Github</td>
                      <td class="value">
                        https://github.com/chris-678
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-profile">
                  <thead>
                    <tr>
                      <th colspan="2">PROJECTS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="field">CO-Founder/ CTO</td>
                      <td class="value">
                        <div class="m-b-5">
                          <b>AhamzTech.Kids</b>  <br />
                          <span class="text-muted">An initiative that aims at building the IQ of children between the ages of <br />
                            4yrs-17yrs through mentorship and programming</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="field">CO-Founder/ C.M.O</td>
                      <td class="value">
                        <div class="m-b-5">
                          <b>AHAMZ FASTLINK TECHNOLOGIES LTD</b>  <br />
                          <span class="text-muted">A business model, that aims at solving the hardware cum software needs of businesses
                             through strategic partnerships as well as quality goods and service delivery. (Made over 200k usd in sales in the past 3yrs)</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="field">Programmer</td>
                      <td class="value">
                        <div class="m-b-5">
                          <b>Shepherd's Diary</b>  <br />
                          <span class="text-muted">Coded A tool that helps to reduce the printing of registry forms for new members,
                            hence automating the administrative system further in the Watchman Catholic Charismatic Renewal Movement (WCCRM)</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="field">Programmer</td>
                      <td class="value">
                        <div class="m-b-5">
                          <b>Blog Site</b>  <br />
                          <span class="text-muted">Coded a Dynamic and responsive blog site from scratch Using Node.js, mongoDB and EJS Templating</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="field">Other PROJECTS</td>
                      <td class="value">
                        coded a TO-DO list App Using React.js and Node.js, coded a Desktop based piano tool to help learn and play piano
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-profile">
                  <thead>
                    <tr>
                      <th colspan="2">EDUCATION/ COURSES</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="field">National Open University Of Nigeria (NOUN)</td>
                      <td class="value">
                        BSc. Computer Science
                      </td>
                    </tr>
                    <tr>
                      <td class="field">UDEMY</td>
                      <td class="value">
                        The Complete Web Development bootcamp
                      </td>
                    </tr>
                    <tr>
                      <td class="field">Dr Tunde Technical Institute</td>
                      <td class="value">
                        Hardware Trouble-shooting and Networking
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-4 hidden-xs hidden-sm">
            <ul class="profile-info-list">
              <li><h5><strong>TECHNICAL SKILLS/ TOOLS</strong></h5></li>
              <li>
                <h5>HTML5</h5>
                <h5>CSS</h5>
                <h5>Adobe XD</h5>
                <h5>Javascript</h5>
                <h5>Bootstrap</h5>
                <h5>Node.JS</h5>
                <h5>React.JS</h5>
                <h5>mongoDB</h5>
                <h5>EJS Templating</h5>
                <h5>Git/ Github</h5>
              </li>
              <li>
                <div class="field">INTERESTS</div>
                <div class="value">Machine Learning</div>
                <div class="value">AI/ Internet Of Things(IOT)</div>
                <div class="value">BLockchain Games</div>
                <div class="value">Boxing</div>
                <div class="value">Chess</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>


<%- include("partials/footer"); -%>
