<%- include("partials/header"); -%>

<section id="title">
  <div class="description">
    <div class="description-img">
      <img class="home-img img-float" src="/images/mustardSeed2.jpg" alt="profile-img">
    </div>

    <div class="description-div">
      <h1 class="description-h1">
        I'm Chris AKA <i>mustardSeed</i>
      </h1>
      <h2>A Web Developer and Serial Technopreneur</h2>
      <p class="description-p">
        Keen on building, shipping and creating innovative products, geared
        towards improving and simplifying life and businesses generally
      </p>
    </div>

    <div class="description-btn" >
      <button type="button" class="btn btn-outline-light btn-lg">
        <a class="nav-link" href="/about">
          ABOUT ME
        </a>
      </button>
    </div>

  </div>
  <div>
    <footer>
      <p>Copyright ⓒ MustardSeed Technology</p>
    </footer>
  </div
</section>

<%- include("partials/footer"); -%>
